<div class="welcome-container">
  <div class="block">
    <div class="text">
      <h2>Development team</h2>
      <p>
        Welcome to Work Wise, the ultimate task tracker designed to help you
        stay on top of your work and achieve your goals. With Work Wise, you can
        easily manage your tasks, deadlines, and projects, all in one convenient
        place.
      </p>
      <p>
        Our powerful platform is packed with features that are designed to
        simplify your work life. From customizable task lists to intuitive time
        tracking, we make it easy to stay organized and focused on what matters
        most. Whether you're a busy professional, a freelancer, or a student,
        Work Wise can help you stay on track and achieve your goals.
      </p>
    </div>
    <div class="image">
      <img src="assets/1.webp" alt="" />
    </div>
  </div>

  <div class="block">
    <div class="image">
      <img src="assets/2.webp" alt="" />
    </div>
    <div class="text">
      <h2>Onboarding screens</h2>
      <p>
        Our user-friendly interface is designed to make task management simple
        and efficient. You can easily create new tasks, assign deadlines, and
        set priorities with just a few clicks. You can also organize your tasks
        into projects, and track your progress with our intuitive dashboard.
      </p>
      <p>
        At Work Wise, we believe that time is your most valuable asset, which is
        why we offer powerful time-tracking features that help you make the most
        of your day. With our timer feature, you can easily track the time you
        spend on each task, and our detailed reports provide you with insights
        into your productivity.
      </p>
    </div>
  </div>

  <div class="block">
    <div class="text">
      <h2>Recent pages</h2>
      <p>
        Our platform is also highly customizable, which means you can tailor it
        to your unique needs and preferences. You can choose from a range of
        color themes, add custom tags and labels, and set up notifications and
        reminders to keep you on track.k
      </p>
      <p>
        So why wait? Sign up for Work Wise today and start achieving your goals
        with ease. With our powerful task tracking features, you'll be able to
        stay organized, focused, and productive, no matter what challenges come
        your way.
      </p>
    </div>
    <div class="image">
      <img src="assets/3.webp" alt="" />
    </div>
  </div>
</div>
