<div class="login-container">
  <div class="login-form">
    <h2>Work Wise</h2>
    <p>Sign up to continue</p>
    <input type="email" placeholder="enter your email" />
    <input type="password" placeholder="enter your password" />
    <div class="checkbox">
      <p-checkbox inputId="chkbox1"></p-checkbox>
      <label for="chkbox1"
        >By signing up, I accept Terms of Service and acknowledge the Privacy
        Policy.</label
      >
    </div>
    <p-button
      label="Sign up"
      styleClass="p-button-raised"
      routerLink="/main"
    ></p-button>
    <a routerLink="/login">Already have an account? Log in</a>
  </div>
</div>
